
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="./assets/images/alegria_description.png" alt="">
            </div>
                
            <div class="col-12 col-md-6">
                <p>Pour tout vos évènements : nous sommes aussi traiteur & créateurs de sourires.</p>
                
                <p>Découvrez Alegria, notre service traiteur : 
                Nous nous déplaçons, nous et notre savoir faire dans le lieu de votre choix.</p>
                
                
                <a href="https://alegria-bymariacantina.com/">Visitez Notre site</a>
                <a href="https://www.facebook.com/alegriabymariacantina/?__tn__=%2CdK*F-R&eid=ARDAbV9zD9tol3o-TpAMCd8KMDp0_-3Gi2K0wKckUF-_V5zSlwiXf0k8g7ICGgAK9yzPeE7Qk0jO1syZ"><i class="fab fa-facebook-square"></i></a>  

                
            </div>       
        </div>
    </div>

    
    <div class="service_area">
        <div class="container">
             <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <i class="fas fa-birthday-cake"></i>
                        </div>
                        <h4>Anniversaires</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <i class="fas fa-church"></i>
                        </div>
                        <h4>Mariages</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <div class="service_icon">
                            </div>
                            <p>Icone</p>
                        </div>
                         <h4>Soirées</h4>
                         <mat-icon>home</mat-icon>
                    </div> 
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon"> 
                            <div class="service_icon">
                            </div>
                            <p>Icone</p>
                        </div>
                        <h4>Evènements de groupe</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon"> 
                            <i class="far fa-building"></i>
                         </div>
                        <h4>Evènements d'entreprises</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <i class="fas fa-ruler"></i>
                         </div>
                        <h4>Sur Mesure</h4>
                    </div>
                </div>
            </div> 



        </div>

    </div>



