
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="./assets/images/alegria_description.png" alt="">
            </div>
                
            <div class="col-12 col-md-6">
                <p>Pour tout vos évènements : nous sommes aussi traiteur & créateurs de sourires.</p>
                
                <p>Découvrez Alegria, notre service traiteur : 
                Nous nous déplaçons, nous et notre savoir faire dans le lieu de votre choix.</p>
                
                
                <a href="https://alegria-bymariacantina.com/">Visitez Notre site</a>
                <a href="https://www.facebook.com/alegriabymariacantina/?__tn__=%2CdK*F-R&eid=ARDAbV9zD9tol3o-TpAMCd8KMDp0_-3Gi2K0wKckUF-_V5zSlwiXf0k8g7ICGgAK9yzPeE7Qk0jO1syZ"><i class="fab fa-facebook-square"></i></a>  

                
            </div>       
        </div>
    </div>
    



