<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <p>Votre compte vous permet de reserver une table ou de commander directement sur notre site</p>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div  class="card-header">
            <h3 class="mb-0">Nouveau Client?</h3>
       
          <div class="card-body">
           <div class="alert alert-danger" *ngIf="error">
             <p>{{ error }}</p>
           </div>

            <div *ngIf="isLoading" style="text-align: center;">
              <app-loading-spinner></app-loading-spinner>
            </div>

            <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
               
              <div class="form-group">
                <label for="email">Email*</label>
                <input type="email"  name="email" class="form-control rounded-0" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" >
                    <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
                    class="alert alert-danger">
                    <div *ngIf="mail.errors.required">
                      *email requis
                    </div>
              </div>

              </div>
              <div class="form-group">
                <label>Mot de passe*</label>
                <input type="password"  name="password" class="form-control rounded-0" formControlName="password">
                <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
                class="alert alert-danger">
                <div *ngIf="pass.errors.required">
                  *mot de passe requis avec au moins 6 caractères
                </div>
               </div>
              </div>
          
              <div class="form-group">
                <label>Confirmez votre Mot de passe*</label>
                <input type="password"  name="passwordConfirm" class="form-control rounded-0" formControlName="passwordConfirm">
                <div *ngIf="passC.invalid && (passC.dirty || passC.touched)"
                class="alert alert-danger">
                <div *ngIf="passC.errors.required">
                  *entrez le même mot de passe
                </div>
                <div *ngIf="passC.errors.mustMatch">
                  *les mots de passe doivent être les mêmes 
                </div>
               </div>
              </div>

              
              <button   type="submit" class="btn btn-danger float-right"  [disabled]="registerForm.invalid">
                S'inscrire
              </button>
            </form>

           
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
    </div>



  </div>
</div>
