
<div class="main-footer d-flex justify-content-md-around">
  <!-- <div class="main-footer d-flex justify-content-md-around -->
  <div>
    <div class="container">
      <a class="navbar-brand" routerLink="/section" routerLinkActive="active" class="icon" href="nav-link"><img class="white_mustache" src="./assets/images/mustache_white.png" alt="logo with white mustache"></a>
</div> 
  </div>
  <div>
    <h5 class="p-2">ADRESSE</h5>
    <p>11 Rue Aristide Ollivier</p>
    <p>34000 Montpellier</p>
  </div>
  <div>
    <h5 class="p-2">HORAIRES</h5>
    <p>Lundi-Dimanche: 12h00 - 14h00</p>
    <p>Lundi-Dimanche: 19h00 - 22h30</p>
  </div>
  <div>
    <h5 class="p-2">CONTACT</h5>
    <p>06 22 56 56 07</p>
  </div>
  <div>
    <h5 class="p-2">SUIVEZ-NOUS</h5>
    <a href="https://www.facebook.com/mariacantinataqueria/"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/explore/locations/1014502518/maria-cantina/" class="instagram">
    <i class="fab fa-instagram"></i></a>
  </div>
</div>



<div class="footer">
  <p> © Maria Cantina 2020 - Politique confidentialité - Conditions d'utilisations</p>
</div>
 
