<div class="container">

      <div class="row">
          <div class="col-md-4">
            <img class="w-100 img-fluid"  src="./assets/images/tacos.png" alt="tacos_image">
          </div>
          <div class="col-md-4">
            <img class="w-100 img-fluid" src="./assets/images/tacos_burritos.jpeg" alt="tacos_image">
          </div>
          <div class="col-md-4">
            <img class="w-100 img-fluid" src="./assets/images/plate.png" alt="tacos_image">
          </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img class="w-100 img-fluid" src="./assets/images/tacos_blue.jpg" alt="tacos blue">
        </div>
        <div class="col-md-4">
         
    
          <img class="w-100 img-fluid" src="./assets/images/beer.jpg" alt="tacos_image">
        </div>
        <div class="col-md-4">
          <img class="w-100 img-fluid" src="./assets/images/kitchen.png" alt="tacos_image">
        </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img class="w-100 img-fluid" src="./assets/images/taquero-mucho.jpg" alt="taquero mucho">
      </div>
      <div class="col-md-4">
       
  
        <img class="w-100 img-fluid" src="./assets/images/restaurant.jpg" alt="restaurant">
      </div>
      <div class="col-md-4">
        <img class="w-100 img-fluid" src="./assets/images/make_salsa.jpeg" alt="make salsa">
      </div>
  </div>

</div>




