
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      
            <h2>Entrées</h2>
              <mat-form-field>
                  <mat-label>Entrées</mat-label>
                  <mat-select [formControl]="starters" multiple>
                    <mat-option *ngFor="let starter of starterList" [value]="starter">{{starter}}</mat-option>
                  </mat-select>
              </mat-form-field>
          
            <h2>Plats</h2>
              <mat-form-field>
                  <mat-label>Plat</mat-label>
                  <mat-select [formControl]="main" multiple>
                    <mat-option *ngFor="let main of mainList" [value]="main">{{main}}</mat-option>
                  </mat-select>
              </mat-form-field>
              
            
            <h2>Desserts</h2>
              <mat-form-field>
                <mat-label>Desserts</mat-label>
                <mat-select [formControl]="dessert" multiple>
                  <mat-option *ngFor="let dessert of dessertList" [value]="dessert">{{dessert}}</mat-option>
                  </mat-select>
                </mat-form-field>
              
              <h2>Boissons</h2>
              
              <mat-form-field>
                <mat-label>Desserts</mat-label>
                <mat-select [formControl]="drinks" multiple>
                  <mat-option *ngFor="let drink of drinkList" [value]="drink">{{drink}}</mat-option>
                </mat-select>
              </mat-form-field>
              
            </div>

            <div class="col-lg-6">
              <h5>Ma Commande à emporter<i class="fas fa-cart-arrow-down"></i> </h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">exemple1 <button type="submit"><i class="far fa-trash-alt"></i></button></li>
                <li class="list-group-item">exemple2</li>
                <li class="list-group-item"><strong>Total</strong></li>
             </ul>
 
             <button class="btn btn-danger">PAYER SUR PLACE</button>
            </div>
    </div>
  </div>
  
    
