
    <div class="container">
    <h2 class="text-center">Modifier un produit</h2>

    <label for="ID">name</label> : <input name="ID" [(ngModel)]="product.ID" type="text" /><br/>
    <label for="name">name</label> : <input name="name" [(ngModel)]="product.name" type="text" /><br />
  <label for="description">description</label> : <input name="description" [(ngModel)]="product.description" type="text" /><br/>
  <label for="sub_category_name">Sous-catégorie</label> : <input name="sub_category_name" [(ngModel)]="product.sub_category_name" type="text"/><br/>
  <!-- 
     <form [formGroup]="editProduct" (ngSubmit)="onSubmit()">
       <div class="hidden">
         <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
       </div>
    
    <div class="form-group">
      <label for="name">Nom du Produit:</label>
      <input formControlName="name" name="name" [(ngModel)]="products.name" placeholder="nom du produit" class="form-control" id="name">
    </div>

   <div class="form-group">
      <label for="lastName">Description:</label>
      <input formControlName="description" name="description" placeholder="description" class="form-control" id="description">
    </div>
    
    <div class="form-group">
      <label for="age">Sous-Catégories</label>
      <input type="text" formControlName="sub_category" placeholder="sous-categorie" name="sub_category" class="form-control" id="sub_category">
    </div>

    <div class="form-group">
      <label for="age">Catégorie</label>
      <input type="number" formControlName="category" placeholder="categorie" name="category" class="form-control" id="category">
    </div> 


     <button class="btn btn-danger">Confirmer changements</button> 
   </form>  
   -->



</div>