<h2>Connectez-vous à votre compte</h2>

<!-- connexion 
email 
mot de passe 
lien mot de passe oublié? 


Lien : pas encore inscrits? 

inscription :
email 
mot de passe 
confirmation mot de passe 6 caractères -->

<div class="col jumbotron p-3 my-4">

  <form >
    <input 
    type="text" 
    placeholder="email" 
    name="age"
    [(ngModel)]= "user.mail">
  
    <input 
    type="password" 
    placeholder="Mot de passe" 
    name="password"
    [(ngModel)]= "user.password">
  
    <button type="submit" class="btn btn-danger">Enregistrer</button>
  
    <a href="">Mot de passe oublié ?</a>
  
  </form>
  
  </div>


  <h2>Nouveau Client ?</h2>

  <div class="col jumbotron p-3 my-4">

      <form (submit)="onSubmit()">

        <input 
        type="text" 
        placeholder="nom" 
        name="lastname"
        [(ngModel)]= "user.lastname">
        
        <input 
        type="text" 
        placeholder="prénom" 
        name="firstname"
        [(ngModel)]= "user.firstname">
        <input 
        type="text" 
        placeholder="email" 
        name="age"
        [(ngModel)]= "user.mail">
      
        <input 
        type="password" 
        placeholder="Mot de passe" 
        name="password"
        [(ngModel)]= "user.password">

        <input 
        type="password" 
        placeholder="Confirmez Votre Mot de passe" 
        name="password"
        [(ngModel)]= "user.confirmpassword">
      
        <button type="submit" class="btn btn-danger">Enregistrer</button>
        
      </form>
</div>
