.message {

    background-color: rgb(170, 63, 63);
    color:white;
    padding:10px;
    margin:20px;
}

.btn-danger {
    background-color:white;
}

.fa-trash-alt {
    color:rgb(170, 63, 63);
}



h3{
    color:rgb(170, 63, 63);
}

p h3 {
    color:rgb(170, 63, 63);
}