<div class="container">
  <h3 class="p-2">Liste des messages reçus</h3>
    <p>Reçu du plus récent au plus ancien</p>

  <div *ngFor="let contacts of contacts" class="message">
    <!-- <p>{{contacts.ID}}</p> -->
    <p>
      <strong>Reçu de : </strong> {{contacts.nom}}</p>
    <p><strong>Mail :</strong> {{contacts.email}}</p>  
    <p><strong>Sujet : </strong>{{contacts.sujet}}</p> 
    <p><strong>Message :</strong> {{contacts.message}}</p> 
    <p><strong>Date et heure d'envoi :</strong> {{contacts.date | date:' le dd-MM-yyyy à h:mm a' }}</p> 
    <button  (click)="onDelete(contacts)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
  </div>

</div>

