
<div class="container">

  <div class="mx-auto" style="width: 800px;">
          <h2 class="m-4">Liste des Produits<button class="ml-2 btn btn-success" (click)="addProduct()"><i class="fas fa-plus"></i> Ajouter un Produit</button></h2>
        </div>
        <div class="row pb-3">
          <button class="ml-2 btn btn-outline-info"  (click)="handleCategory()">Gérer les Catégories</button>
          <button class="ml-2 btn btn btn-outline-info"  (click)="handleSubCategory()">Gérer les Sous-Catégories</button>

  </div>


      <table class="table table-striped">
    <thead>
    <tr>
      <!-- <th>Id</th> -->
      <th>Nom</th>
      <th>Description</th>
      <th>Sous-catégorie</th>
      <th>Catégorie</th>
      <th>Modifier</th>
      <th>Supprimer</th>
    </tr>
    </thead>

    <tbody> 
     <tr *ngFor="let product of products; let i = index">
        <!-- <td>
          {{ product.ID }} 
        </td> -->
        <td>
          {{ product.name }} 
        </td>
        <td>
          {{ product.description }} 
        </td>
        <td>
          {{ product.sub_category_name }} 
        </td>
        <td>
          {{ product.category_name }} 
        </td>
        <td>
          <button (click)="editProduct(product.ID)" class="btn btn-primary"><i class="fas fa-edit"></i></button>
        </td>
        <td>
          <button (click)="deleteProduct(product)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
       
      </tr> 
    </tbody>  
  </table>
</div>