
            <nav class="navbar navbar-light"   style="background-color: rgb(170, 63, 63);">

                  <a routerLink="section" class="icon"><fa-icon [icon]="faCoffee"></fa-icon></a>
                  <a routerLink="section">Menu</a>
                  <a routerLink="order">Commander</a>
                  <a routerLink="book">Réserver</a>
                  <a routerLink="service">Traiteur</a>
                  <a routerLink="franchise">Devenir Franchisé</a>
                  <a routerLink="section" href="#where" class="icon"><fa-icon [icon]="faSearchLocation"></fa-icon></a>
                  <a routerLink="user" class="icon"><fa-icon [icon]="faUser"></fa-icon></a>
                  
            </nav>



