* {
    font-family: 'Open Sans', sans-serif;
}



a {
    padding:10px;

    color:white;
    font-size:20px;
    text-decoration:none;
}

.icon{
    font-size:30px;

}

.dropdown-menu {
max-width:250px;
background-color:rgba(170, 63, 63,0.9);
}



/* .dropdown-menu {
    max-width:10px;
    background-color:rgba(170, 63, 63,0.9);
    } */

.dropdown-item {
color:white;
    }

.dropdown-item:hover{
color:rgba(170, 63, 63);
 }

 .container {
    width: 100px;
    height: auto;
}

/* resize images */
.container img {
    width:  100%;
    height: auto;
    margin:10px;
}

 .dropdown button {
     font-size:20px;
 }
 
