* {
    font-family: 'Open Sans', sans-serif;
}




a {
    padding:10px;

    color:white;
    font-size:20px;
    text-decoration:none;
}

.icon{
    font-size:30px;

}

.dropdown-menu {
max-width:10px;
background-color:rgba(170, 63, 63,0.9);
}


.dropdown-item {
color:white;
    }

.dropdown-item:hover{
color:rgb(170, 63, 63);
 }