
<div class="container" id="menu">

     <h4 *ngFor="let productCategory of productCategory">
                {{ productCategory.name }}
          <ul [ngSwitch]="productCategory.name">
            <h5 *ngFor="let drinkSubCategory of drinkSubCategory">
              <li *ngSwitchCase="'NUESTRAS BEBIDAS - Nos Boissons'">

                {{ drinkSubCategory.sub_category }}
              </li>  
            </h5>

            <h5 *ngFor="let starterSubCategory of starterSubCategory">
              <li *ngSwitchCase="'NUESTRAS ENTRADAS - Nos Entrées'">
                {{ starterSubCategory.sub_category }} 
                <h5 *ngFor="let starter of starter">
                  <p>{{ starter.name }}  </p>  
                  <p> {{ starter.description }} </p>  
                </h5> 
              </li>  


            </h5>

            <h5 *ngFor="let mainSubCategory of mainSubCategory">
              <li *ngSwitchCase="'NUESTROS PLATOS - Nos Plats'">
                {{ mainSubCategory.sub_category }}
              </li>  
            </h5>

            <h5 *ngFor="let dessertSubCategory of dessertSubCategory">
              <li *ngSwitchCase="'NUESTROS POSTRES - Nos Desserts'">
                {{ dessertSubCategory.sub_category }}
              </li>  
            </h5>


            <h5 *ngFor="let digSubCategory of digSubCategory">
              <li *ngSwitchCase="'NUESTROS CAFFECITOS - Nos Cafés & Thés'">
                {{ digSubCategory.sub_category }}
              </li>  
            </h5>

          </ul>
        
    </h4>


    <h5 *ngFor="let starter of starter">
      <p>{{ starter.name }}  </p>  
      <p> {{ starter.description }} </p>  
    </h5>





  </div>    
      
      
      <!-- 
      <li *ngSwitchCase="'PA\'\REMOJAR - Nos Sauces'">
        {{ starterSubCategory.sub_category }}
    -->



<!-- Gros problemes d'affichage car ngFor boucle partout dans le tableau d'objet du coup : besoin des ngSwitch  -->