<div class="catering-img">
</div>

    <div class="d-flex justify-content-center">
        <a href="https://alegria-bymariacantina.com/" class="btn btn-outline-danger"><i class="fas fa-birthday-cake"></i> Anniversaires</a>
        <a href="https://alegria-bymariacantina.com/" class="btn btn-outline-danger"><i class="fas fa-church"></i> Mariages</a>
        <a href="https://alegria-bymariacantina.com/" class="btn btn-outline-danger"><i class="fas fa-glass-cheers"></i> Soirées</a>
        <a href="https://alegria-bymariacantina.com/" class="btn btn-outline-danger"><i class="fas fa-users"></i> Groupes divers</a>
        <a href="https://alegria-bymariacantina.com/" class="btn btn-outline-danger"><i class="far fa-building"></i> Entreprises</a>
        <a href="https://alegria-bymariacantina.com/" class="btn btn-outline-danger"><i class="fas fa-ruler"></i> Sur Mesure</a>
    </div>
    

    <div class="container">
         <div class="row">
             <div class="col-12 col-md-6">
                <img src="./assets/images/alegria_description.png" alt="alegria_image_description">
            </div> 
            <div class="col-12 col-md-6">
                        <div>
                            <p>Pour tout vos évènements : nous sommes aussi traiteur & créateurs de sourires.</p>
                            <p>Découvrez Alegria, notre service traiteur : Nous nous déplaçons, nous et notre savoir faire dans le lieu de votre choix.</p>          
                        </div>
                <div class="card mx-auto" style="width: 400px;">
                  <img src="./assets/images/catering_burrito.png" class="card-img-top" alt="burrito-image">
                    <div class="card-body">
                        <a href="https://www.facebook.com/alegriabymariacantina/?__tn__=%2CdK*F-R&eid=ARDAbV9zD9tol3o-TpAMCd8KMDp0_-3Gi2K0wKckUF-_V5zSlwiXf0k8g7ICGgAK9yzPeE7Qk0jO1syZ"><i class="fab fa-facebook-square"></i></a>  
                    <a href="https://alegria-bymariacantina.com/" class="btn btn-outline-danger">Réservez Dès Maintenant</a>
                    </div>
                </div>
            
                <div>
        
                </div>
            </div> 
        

               
               
            

        </div> 

    </div>



    <app-footer></app-footer>