<!--MENU-->
<div class="container" id="menu">

       <h4 class="pt-5"><i class="fas fa-glass-cheers"></i>NUESTRAS BEBIBAS - Nos Boissons</h4>
  <div class="container  p-4" id="drinks">
     <div class="row">
             <div class="col-12 col-md-3" class="part1">              
                 <h5>AGUAS Frescas</h5>
                     <p>Limonada - Eau citron sucre</p>
                     <p>Rosa de Jamaica -Thé Glacé de Fleur d'Hibiscus</p>
                 <h5>LAS AGUAS</h5>
                     <p>Coca 33 cL</p>
                     <p>Coca Zero 33 cL</p>
                     <p>Orangina 33 cL</p>
                     <p>Ice Tea 33 cL</p>
                     <p>Arizona 50 cL</p>   
                     <p>Eau 50  cL</p>
                     <p>San Pellegrino 33 cL</p>
             </div> 
 
 
             <div class="col-12 col-md-3" class="part2">
                 <h5>LAS CHELAS</h5>
                                     <p>Corona 33 cL</p>
                                     <p>Victoria 33 cL</p>
                                     <p>Negra Esp 33 cL</p>
                                     <p>Estrella 33 cL</p>   
                                     <p>Tecate 33 cL</p>
                                     <p>Bohemia 33 cL</p>
                                     <p>Negra Modelo 33 cL</p>
                                     <p>San Miguel 33 cL</p>
                                     
                                     <h5>PICHELITOS</h5>
                                     <p>Sangria 1L - Vin rouge fruits</p>
                                     <p>Mojito 1L - Rhum menthe sucre citron soda<p>
             </div>
             <div class="col-12 col-md-3" class="part3">
                     <h5>TU QUIERE..TE..QUILA</h5>
                         <p>Mezcal 3 cL - Selection du mois</p>
                         <p>Tequila 3cL - Patron</p>
                     <h5>EL VIN..ITO</h5>
                         <p>Argentine 70 cL</p>
                         <p>Chili 70 cL</p>
                     <h5>CHELA DE BARRIL</h5>
                         <p>Demo 25 cL</p>
                         <p>Pinta 50 cL</p>
                         <p>Litro 100 cL</p>
             </div>
 
             <div class="col-12 col-md-3" class="part4">
                     <h5>SE TOME ALGO BIEN BUENO</h5>
                         <h6>SU MOJITO</h6>
                             <p>Rhum, menthe, sucre, citron, soda</p>
                         <h6>MARGARIT - AHH</h6>
                             <p>Tequila, triple sec, sucre, citron, soda</p>
                             <p>CLASICA, FRESA, FRAMBUESA, MANGO</p>
                         <h6>PALOMAY..AY..</h6>
                             <p>Tequila, pamplemousse, citron, soda, sel</p>
                         <h6>EL ZORRO</h6>
                             <p>Jack Daniel's, menthe, pomme pressée, sucre</p>
                         <h6>DON RAMON</h6>
                             <p>Captain Morgan, liqueur de vanille, citron, coco, coriandre</p>
                         <h6>EL DE LUIS MI..</h6>
                             <p>Gin, Chartreuse, citron, concombre, basilic, tonic</p>
         </div>
     </div>
 </div>
     


 <h4>NUESTRAS ENTRADAS - Nos Entrées</h4>     
 <div class="container p-4" id="starter">
     <div class="row">
         <div class="col-12 col-md-6">
            <h5>Pa'Ti Solito (1 personne)</h5>
            <h6>FRIJOLITOS</h6>
            <p>Tortillas Chips, Haricots noirs, coriandre, fromage râpé et crème fraîche</p>
            <h6>GUACAMOL...ITO</h6>
            <p>Tortilla Chips, écrasé d'avocat, pico de gallo(tomates, coriandre, oignons, citron</p>
            <h6>NACHITO</h6>
            <p>Tortilla Chips, écrasé d'avocat, haricots noirs, cheddar fondu, crème fraîche, pico de gallo</p>
            <h6>NACHO...MEN</h6>
            <p>Tortilla Chips, écrasé d'avocat, haricots noirs, cheddar fondu, crème fraîche, pico de gallo</p>
            <p>PASTOR, POULET ou BOEUF</p>
         </div>
 
         <div class="col-12 col-md-6">
             <h5>Pa'Compartir (A plusieurs)</h5>
             <h6>GUACAMOL...OTE</h6>
             <p>Tortillas Chips, écrasé d'avocat, pico de gallo(tomates, coriandre, oignons, citron)</p>
             <h6>NACHITO...MEN</h6>
             <p>Tortilla Chips, écrasé d'avocat, haricots noirs, cheddar fondu, crème fraîche, pico de gallo</p>
             <h6>NACHOOOTES</h6>
             <p>Tortilla Chips, écrasé d'avocat, haricots noirs, cheddar fondu, crème fraîche, pico de gallo</p>
             <h6>FRITES FIESTAS</h6>
             <p>Frites, écrasé d'avocat, haricots noirs, cheddar fondu, crème fraîche, pico de gallo</p>
             <p>PASTOR, POULET ou BOEUF</p>
         </div>
     </div>    
 </div>                     
     
 
 
 <h4><i class="fas fa-utensils"></i>NUESTROS PLATOS - Nos Plats</h4> 
 
 <div class="container p-4" id="plate">
     <div class="row">
             <div class="col-12 col-md-4">
                     <h5>Pa'Cambiar</h5>
                         <h6>TACOSTRA x4</h6>
                             <p>Tortilla, maïs, viande ou légume, fromage, coriandre, sauce au choix</p>
                             <p>Au choix : PASTOR, POULET, BOEUF, AUBERGINE</p>
 
                         <h6>PIRATA x4</h6>
                             <p>Tortilla, maïs, viande ou légume, fromage, coriandre, avocat, sauce au choix</p>
                             <p>Au choix : PASTOR, POULET, BOEUF, AUBERGINE</p>
 
                         <h6>HUARACHE</h6>
                             <p>Tortilla, maïs, haricots, viande ou légume, crème, salade, pico, sauce au choix</p>
                             <p>Au choix : PASTOR, POULET, BOEUF, AUBERGINE</p>
 
                         <h6>LA MUULA x4</h6>
                             <p>Tortilla, maïs, viande ou légume, fromage, guacamole, sauce au choix</p>
                             <p>Au choix : PASTOR, POULET, BOEUF, AUBERGINE</p>
             </div>
             <div class="col-12 col-md-4">
                     <h5>Pa'Provechar</h5>
                         <h6>EL PATROOON</h6>
                             <p>Boeuf, guacamole, pico, riz, haricots, sauce au choix</p> 
                             
                         <h6>PANCHO VILLA</h6>
                             <p>Poulet, fromage fondu,riz,  haricots, coriandre, sauce au choix</p>
                             
 
                         <h6>LA NENA</h6>
                             <p>Poulet, letus, tomate, guacamole, sauce au choix</p>
                             
                         <h6>CARNITAS</h6>
                             <p>Porc, oignons, riz, guacamole, sauce au choix</p>              
             </div>
             <div class="col-12 col-md-4">
 
                     <h5>Pa'no cambiar</h5>
                     <h6>TACOS x4</h6>
                     <p>Tortilla de maïs, viande ou légume, coriandre, sauce au choix</p>
                     <p>Au choix : PASTOR, POULET, BOEUF, AUBERGINE</p>
                         
                     <h6>GRINGA..RICA x4</h6>
                     <p>Tortilla de blé, viande ou légume, fromage, sauce au choix</p>
                     <p>Au choix : PASTOR, POULET, BOEUF, AUBERGINE</p>
 
                     <h6>BURRROTE</h6>
                     <p>Tortilla de blé, viande ou légume, cheddar, haricots, riz, sauce au choix</p>
                     <p>Existe en version XL</p>
                     <p>Au choix : PASTOR, POULET, BOEUF, AUBERGINE</p>
                         
                     <h6>QUESADILLA</h6>
                     <p>Tortilla de blé, viande ou légume, fromage, champignons, poivrons, sauce au choix</p>
                     <p>Existe en version XL</p>
                     <p>Au choix : PASTOR, POULET, BOEUF, AUBERGINE</p>         
 
             </div>
 
     </div>
 </div>
 
            
 <h4>Pa'remojar - Nos Sauces</h4> 
 
 <div class="container p-4" id="salse">
         <div class="row">
                 <div class="col-12">
                         <h6>AGUACATERA</h6>
                             <p>Avocat, oignons, huile d'olives, poivrons verts</p>
                         
                         <h6>TOMATINA</h6>
                             <p>Tomates, oignons, huile d'olives, poivrons rouges</p>
                         
                        <h6>PICO DE GALLO<fa-icon [icon]="faPepperHot"></fa-icon></h6>
                             <p>Tomates, Oignons, coriandre, citron</p>
                         
                         <h6>ACAPULCO<fa-icon [icon]="faPepperHot"></fa-icon></h6>
                             <p>Mangue, coriandre, citron, piments mexicains</p>
                         
                         <h6>TOMATES VERDES<fa-icon [icon]="faPepperHot"></fa-icon><fa-icon [icon]="faPepperHot"></fa-icon></h6>
                             <p>Tomatillos verts, piments mexicains</p>
                         
                         <h6>DIABLO VEN A MI...<fa-icon [icon]="faPepperHot"></fa-icon><fa-icon [icon]="faPepperHot"></fa-icon><fa-icon [icon]="faPepperHot"></fa-icon></h6>
                             <p>Tomates, oignons, huile d'olives, piments mexicains</p>
                         
                 </div>            
         </div>
 </div>
 
 
            
 <h4>NUESTROS POSTRES - Nos Desserts</h4> 
 
 <div class="container p-4" id="dessert">
         <div class="row">
                 <div class="col-12 col-md-6">
                     <h5>Pa'engordar</h5>
                          <h6>CHOCO DERRETIDO</h6>
                             <p>Fondant au chocolat caramel, simple et bon</p>
                         
                         <h6>CHOCO BANANO</h6>
                             <p>Banane, chocolat, cacahuete</p>
                 </div>  
                 
                 <div class="col-12 col-md-6">
                      <h5>Pa'irse tranqui</h5>
                         <h6>BANANA SHAKE</h6>
                             <p>Smoothie de banane, lait, vanille</p>
                         
                         <h6>LA CIMORRONA</h6>
                             <p>Secret Ancestral solution contre la geule de bois</p>
                             <p>Eau gazeuse, citron, sel, poivre, worceister</p>
                         
                             <h6>PURA VIDA</h6>
                             <p>Secret Ancestral jus détox pour réduire la fatigue</p>
                             <p>Eau, épinards, pomme, kiwi, banane, ananas</p>
 
                             <h6>MI MICHELADA</h6>
                             <p>La bière comme on la boit au Mexique</p>
                             <p>Bière, jus de végétaux, sel, poivre, worceister</p>
                          
                 </div>  
         </div>
 </div>
 
 
 
 
 <h4><i class="fas fa-coffee"></i>NUESTROS CAFFECITOS - Nos Cafés & Thés </h4> 
 
 <div class="container p-4" id="coffee">
         <div class="row">
                 <div class="col-12 col-md-6">
                     <h5>Su'cafecito</h5>
                          <h6>ESPRESSO ORIGEN</h6>
                             <p>Garantie café origine amérique latine/p>
                         
                         <h6>ESPRESSO INTENSO</h6>
                             <p>Fruité et épicé, au corps rond, torrefaction 1/2</p>
 
                         <h6>ESPRESSO CARAMELO</h6>
                             <p>Equilibré et gourmand café arrondi au caramel</p>
 
                         <h6>CAPULINA</h6>
                             <p>Capuccino :espresso intense et douceur du lait</p>
 
                         <h6>LATTE MACCHIATO</h6>
                             <p>Lait chaud, café velouté et mousse</p>
 
                         <h6>MOCHA</h6>
                             <p>Du cacao avec un soupçon de café</p>
                 </div>  
                 
                 <div class="col-12 col-md-6">
                      <h5>Su'the-cito</h5>
                         <h6>THÉ NOIR..TAMPICO</h6>
                             <p>Une fusion intense de fruits rouges</p>
                         
                         <h6>THÉ NOIR..BENITO J</h6>
                             <p>Un mariage parfait entre le thé, la vanille et le caramel</p>
                         
                         <h6>THÉ NOIR..FRIDA</h6>
                             <p>Le caractère du thé noir et la douceur du miel citron</p>
                        
                         <h6>THÉ VERT..AZTEC</h6>
                             <p>Traditionnel thé vert</p>
                      
                 </div>  
         </div>
 </div>
 
 </div>
 
 