<div class="container" id="menu">
    <div *ngFor="let items of products | keyvalue: sortNull">
        <h4> {{ items.key}}</h4>

     
        <!-- <div *ngFor="let items2 of items.value | keyvalue"> 
                 <h5> {{ items2.key }}</h5>  -->
        <!-- <div *ngFor="let items3 of items2.value">
                         <p> {{ items3.name }}</p> 
                    </div> -->
        <!-- <app-admin-product
                  [product]="items3"></app-admin-product>  -->
        <!-- </div>      -->

        <!-- <div class="app flex-row align-items-center">
            <div class="container">
                <div class="card-deck row">
                    <div class="card" *ngFor="let items2 of items.value | keyvalue">
                        <div class="card-block">
                            <h5 class="card-title">{{ items2.key }}</h5>
                            <div *ngFor="let items3 of items2.value">
                                <h6> {{ items3.name }}</h6>
                                <p> {{ items3.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="category">
            <div class="subcategory" *ngFor="let items2 of items.value | keyvalue">
                <h5>
                    {{items2.key}}
                </h5>
                <div *ngFor="let items3 of items2.value">
                    <h6> {{ items3.name }}</h6>
                    <p> {{ items3.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>