
<div id="exemple1" class="col-12">
    <div id="exemple2" class="p-4">
        <div id="main" class="m-3">
            <h1>Maria Cantina Tacqueria</h1>
                <p class="description">Restauration Mexicaine à Montpellier</p>
             <div class="container" class="links" id="logos">
                 <div class="row">
                     <div class="col-12 col-md-3">
                        <a href="#history"><fa-icon [icon]="faPepperHot"></fa-icon><figure>Notre histoire</figure></a>
                    </div>
        
            <div class="col-12 col-md-3">
                 <a href="/menu"><fa-icon [icon]="faUtensils"></fa-icon>
                    <figure>Menu</figure></a>
                    
            </div>
             
            <div class="col-12 col-md-3">
                 <a href="#pictures"><fa-icon [icon]="faImage"></fa-icon><figure>Galerie</figure></a>
            </div>
            
            <div class="col-12 col-md-3">
                <a href="#find"><i class="fas fa-search-location"></i><figure>Nous Trouver</figure></a>
            </div>
         </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="https://www.facebook.com/mariacantinataqueria/"><i class="fab fa-facebook-square"></i></a>  
                <a href="https://www.instagram.com/explore/locations/1014502518/maria-cantina/" class="instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.tripadvisor.fr/Restaurant_Review-g187153-d9774203-Reviews-Maria_Cantina-Montpellier_Herault_Occitanie.html"><i class="fab fa-tripadvisor"></i></a>
            </div>       
        </div>
    </div>
    
    </div>
</div>

<div class="container p-4" id="skulls">
    <div class="row">
        <div class="col-12 col-md-3">
       <img src="./assets/images/skull1.png" alt="">  
       </div>
       <div class="col-12 col-md-3">
       <img src="./assets/images/skull2.png" alt=""> 
        </div>
        <div class="col-12 col-md-3">
       <img src="./assets/images/skull3.png" alt="">  
        </div>
       <div class="col-12 col-md-3">
       <img src="./assets/images/skull4.png" alt="">
       </div>  

           
        </div>
    </div>



<!-- Notre Histoire -->
        <div class="container" id="history">
                <div class="row">
                    <div class="col-12">
                     <h2>Notre Histoire</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corporis autem nisi quidem ipsum iusto saepe excepturi provident esse quae sed, doloremque iure porro amet architecto! Illum illo vel velit?</p>
                    </div>
                </div>
        </div>

 <!-- gallerie photo -->
 <div class="container">
     <app-gallery></app-gallery>

 </div>


  <!-- Commndes ou manger sur place -->
<div class="container" class="schedule">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="p-4">COMMANDEZ EN LIGNE</h2>
            <h5>Faites-vous livrer Maria Cantina à Domicile</h5>
            <div class="container">
                <div class="d-flex justify-content-center">
                        <a href="https://deliveroo.fr/fr/menu/montpellier/centre-ville/maria-cantina?day=today&geohash=spfb0707263e&time=ASAP" class="btn btn-outline-danger">Deliveroo</a>
                        <a href="https://www.ubereats.com/fr-FR/montpellier/food-delivery/maria-cantina/nSaytl2oTOS2mEn5lzttPA/?utm_source=google&utm_medium=cpc-nonbrand&utm_campaign=Search-google-nonbrand_61_481_FR-Montpellier_e_web_acq_cpc_fr_Restaurants%7CSA360_v002_c2_Montpellier&adgroup_name=Restaurants_Maria+Cantina%3Ev002&utm_term=%2Bmaria+%2Bcantina&kw=%2Bmaria+%2Bcantina&campaign_id=71700000025614940&cid=71700000025614940&adgroup_id=58700003193982664&adg_id=58700003193982664&kw_id=p25122846038&kwid=p25122846038&ad_id=256735749081&ext_id=&ran=18065229807697863299&lint_id=&lphy_id=9055317&pos=1t1&dev=c&net=g&match=b&placement=&target=&ds_rl=1254743&ds_rl=1254743&gclid=CjwKCAiAp5nyBRABEiwApTwjXvY3x0PV-DVZHg_x4BdwebOaQcsD877ZLt-mWCYH3qFOGs4TutXelBoCkBYQAvD_BwE&gclsrc=aw.ds" class="btn btn-outline-danger">Uber Eats</a> 
                </div>
            </div>
      
            <div class="order_images">
        
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2 class="p-4">VENEZ MANGER SUR PLACE</h2>
            <h5>Nous vous accueillons tous les jours de 12h00 à 14h00 et de 19h00 à 22h30</h5>
         </div>
    </div>
</div>


 <!--Where-->
 <div class="container m-5" class="find" id="find">
         <div class="row">
             <div class="col-12">
              <h2 class="p-4">Nous Trouver</h2>
                <p>Nous sommes situés au centre-ville</p>
                <p>11 Rue Aristide Ollivier, 34000 Montpellier</p>
                <p>Arrêt de tram : Comédie Ligne 1</p>
              <div class="container-map col-12 p-4">
                  <div  class="map-responsive">
                      <iframe class="m-4" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11555.941330893906!2d3.8816434!3d43.606847!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcaed4c6d0698cda8!2sMaria%20Cantina!5e0!3m2!1sfr!2sfr!4v1577101926835!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                  </div>
              </div>
             </div>
         </div>
 </div>


<!--CONTACT-->
 <h2 class="p-4" >Contact</h2>
    <p>Pour effectuer une réservation ou pour toute autre demande,  contactez-nous au</p>
        <h3>06 22 56 56 07</h3>
            <p>ou avec le formulaire suivant : </p>

            
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="container" id="contact">
     <div class="row">
        <div class="col-12 col-md-6" class="contact">
            <div class="form-group">
                <input class="form-control" type="email"  placeholder="e-mail*" formControlName="email"> 
                    <div *ngIf="(email.errors?.email || email.errors?.required) && email.dirty" class="alert alert-danger">
                        Rentrez un email valide
                  </div>
            </div>
            <input class="form-control" type="text" placeholder="nom" formControlName="nom">
            <input class="form-control" type="text" placeholder="sujet" formControlName="sujet">
        </div> 

        <div class="col-12 col-md-6">
                <textarea name="" id="" cols="50" rows="6" placeholder="votre message" class="form-control" formControlName="message"></textarea>
                <div>
                    <button (click)="displayMessage()" type="submit" class="btn btn-danger m-3">ENVOYER</button>
                    <div *ngIf="displayConfirmedSend" class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                        <strong>Votre message a bien été envoyé !</strong>
                      </div>
                </div>
            </div>
        </div>
    </div>
</form>



