<h1>Maria Cantina</h1>

<p>Restauration Mexicaine à Montpellier</p>



<div class="container">
    <div class="row">
        <div class="col-12">

            <a href=""><fa-icon [icon]="faPepperHot"></fa-icon><p>Notre Histoire</p></a>
            <a href=""><fa-icon [icon]="faPepperHot"></fa-icon><p>Notre Histoire</p></a>
            <a href=""><fa-icon [icon]="faUtensils"></fa-icon><p>Menu</p></a>
            <a href=""><fa-icon [icon]="faImage"></fa-icon><p>Galerie</p></a>
            <a href=""><fa-icon [icon]="faFileSignature"></fa-icon><p>Nous contacter</p></a>
        </div>
    </div>
</div>



<div class="container">
        <div class="row">
            <div class="col-12">
                <a href="https://www.facebook.com/mariacantinataqueria/">facebook logo</a>
                <a href=""><fa-icon [icon]="faInstagram"></fa-icon>Instagram logo</a>
              
            </div>
        </div>
 </div>

<!-- Notre Histoire -->
        <div class="container">
                <div class="row">
                    <div class="col-12">
                     <h2>Notre Histoire</h2>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corporis autem nisi quidem ipsum iusto saepe excepturi provident esse quae sed, doloremque iure porro amet architecto! Illum illo vel velit?</p>
                      
                    </div>
                </div>
        </div>


 <!--MENU-->
        <div class="container">
                <div class="row">
                    <div class="col-12">
                     <h2>MENU</h2>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corporis autem nisi quidem ipsum iusto saepe excepturi provident esse quae sed, doloremque iure porro amet architecto! Illum illo vel velit?</p>
                      
                    </div>
                </div>
        </div>


<!--CONTACT-->
        <div class="container">
                <div class="row">
                    <div class="col-12">
                     <h2>Nous Contacter</h2>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corporis autem nisi quidem ipsum iusto saepe excepturi provident esse quae sed, doloremque iure porro amet architecto! Illum illo vel velit?</p>
                      
                    </div>
                </div>
        </div>



        <!--Where-->
        <div class="container">
                <div class="row">
                    <div class="col-12">
                     <h2>Nous Trouver</h2>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corporis autem nisi quidem ipsum iusto saepe excepturi provident esse quae sed, doloremque iure porro amet architecto! Illum illo vel velit?</p>
                      
                    </div>
                </div>
        </div>