*{
    text-align : center;
}


a {
    padding:10px;
    text-decoration:none;
    color:rgb(170, 63, 63);
}


h1 {

    font-family: 'Dancing Script', cursive;
    font-size:5em;
    color:rgb(170, 63, 63);   
}


h2 {
   
font-family: 'Amatic SC', cursive;
color:rgb(170, 63, 63);
}

h3 {
    color:rgb(170, 63, 63); 
}

.description{
    font-size:20px; 
    color:rgb(170, 63, 63);
    padding:10px;
}

.fa-instagram {
    font-size:60px; 
    padding:10px;
}

.fa-facebook-square {
font-size:60px;
padding:10px;
}

.fa-tripadvisor {
font-size:60px;
padding:10px;
}

.test2 {
    position:relative; 
    height:400px; 
}

.test3 {
    position:absolute;
    z-index:1;
}


.test4 {
    position:absolute;
    text-align: center;
    top:50px; 
    width:900px; 
    height:400px;
    z-index:2;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    padding-left:25px;
    padding-right:25px;
    background-color: rgba(253, 253, 253, 0.9);
}


.main_image{

    max-width: 100%;
    height: auto;
     
}


fa-icon {
    padding:10px;
}

#Capa_2{
    font-size:30px;
}

#logos {
    font-size:25px;
}


#history {
 padding-top:60px;
 border-top: 1px solid rgb(170, 63, 63);
 margin-left:70px;
 margin-right:70px;    
 margin-bottom:30px;
} 


input {
    margin :10px;
    border : 2px solid rgb(170, 63, 63);
}

input::placeholder{
    color:  rgb(170, 63, 63);
    text-align:left;
    padding:5px;

}


textarea {
    border : 2px solid rgb(170, 63, 63);
    text-align:left;
}

textarea::placeholder {
    color:  rgb(170, 63, 63);
    text-align:left;
    padding:5px;

}

/* Change la couleur de l'encadré */
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(170, 63, 63, 0.8);
    box-shadow: 0 1px 1px rgba(170, 63, 63, 0.075) inset, 0 0 8px rgba(170, 63, 63, 0.6);
    outline: 0 none;
}

form button {
    background : rgb(170, 63, 63);
    color:white;
}

.form-control {
   text-align:left;
}

.contact {
   width:50%;
}

#exemple1 {
    background-image: url("src/assets/images/Dashboard2.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
   

}

#exemple2 {
    background-color: rgba(253, 253, 253, 0.9);
    margin-left: 50px;
    margin-right:50px;
 
}


.schedule {
    /* border-top: 1px solid rgb(170, 63, 63); */
    /* border-bottom: 1px solid rgb(170, 63, 63); */
    margin-left:70px;
    margin-right:70px;
    padding:30px;
     
}


.find { 
    border-top: 1px solid rgb(170, 63, 63);
    border-bottom: 1px solid rgb(170, 63, 63);
    margin-left:70px;
    margin-right:70px;     
}

#gallery {
    /* border-top: 1px solid rgb(170, 63, 63);
    margin-left:70px;
    margin-right:70px;     */
}




.btn-outline-danger {
    color:rgb(170, 63, 63);
    border-color:rgb(170, 63, 63) ;
    margin:20px;
}

.btn-outline-danger:hover{
    background-color:rgba(170, 63, 63);
    color:white;
     }
    

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
        }
        
 .map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
        }


        