*{
    text-align : center;
}


a {
    padding:10px;
    text-decoration:none;
    color:rgb(170, 63, 63);
}


h1 {

    font-family: 'Dancing Script', cursive;
    font-size:5em;
    color:rgb(170, 63, 63);   
}


h2 {
   
font-family: 'Amatic SC', cursive;
color:rgb(170, 63, 63);
}

.fa-instagram {
    font-size:60px; 
    padding:10px;
}

.fa-facebook-square {
font-size:60px;
padding:10px;
}


.test2 {
    position:relative; 
    height:400px; 
}

.test3 {
    position:absolute;
    z-index:1;
}


.test4 {
    position:absolute;
    text-align: center;
    top:50px; 
    width:900px; 
    height:400px;
    z-index:2;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    padding-left:25px;
    padding-right:25px;
    background-color: rgba(253, 253, 253, 0.9);
}


.main_image{

    max-width: 100%;
    height: auto;
     
}


fa-icon {
    padding:10px;
}


#logos {
    font-size:25px;
}


#history {
 padding-top:60px;
} 


input {
    margin :10px;
    border : 2px solid rgb(170, 63, 63);
}

input::placeholder{
    color:  rgb(170, 63, 63);
    text-align:left;
    padding:5px;
}


textarea {
    border : 2px solid rgb(170, 63, 63);
    text-align:left;
}

textarea::placeholder {
    color:  rgb(170, 63, 63);
    text-align:left;
    padding:5px;

}


button {
    background : rgb(170, 63, 63);
    color:white;
}

.form-control {
   
   text-align:left;
}

.contact {
   width:50%;
}

#exemple1 {
    background-image: url("src/assets/images/Dashboard2.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    /* height:500px; */

}

#exemple2 {
    background-color: rgba(253, 253, 253, 0.9);
    margin-left: 50px;
    margin-right:50px;
 
}


.schedule {
    
    border-top: 1px solid rgb(170, 63, 63);
    border-bottom: 1px solid rgb(170, 63, 63);
    margin-left:70px;
    margin-right:70px;
    
    
}


.find {
    
    border-bottom: 1px solid rgb(170, 63, 63);
    margin-left:70px;
    margin-right:70px;
        
}